---
layout: default
permalink: /otc-trading-desk/
---
<div id='blurb'>
  <h3>OTC Trading Desk</h3>
</div>
<div id="lnapp" style="width: 600px">
  <div id="paymentwidget">
    <input id="amountinput" v-model="amount" placeholder="amount" />
    <select name="currency"><option>USD</option><option>EUR</option><option>THB</option></select>
    <input id="descriptionform" type="hidden" value="Bitcoin OTC" />
    <button id="submitbutton" v-on:click="generateInvoice" style="margin-top: '10px';">Pay with ⚡️ lightning</button>
    <div id="btcrates"></div>
    <div id="result">
    </div>
  </div>
</div>
