<!DOCTYPE HTML>
<html ng-app="btdotjsProfile">
	<head>
		<title>barryteoh.com :: Developer/Hacker. UX. Nomad. Foodie. Entrepreneur. 技术专家和艺术家</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<script src="/js/bower_components/angular/angular.min.js"></script>
		<script src="/js/bower_components/moment/src/moment.js"></script>
		<script src="/js/app.js"></script>
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<meta name="keywords" content="張巴里, 槍, バリー, Barry, iPhone, iPhonedev, webdev, phpdev, php, asp, asp.net, .Net, Rails, Mac, OS X, Development, automated-qa, portfolio, freelance, consulting, 日本語できます" />
	</head>
	<body class="is-loading" ng-controller="btdotjsCtl">

		<!-- Wrapper -->
			<div id="wrapper" ng-drag="true" ng-drag-data="{obj}" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true">

				<!-- Main -->
					<section id="main">
            {{ content }}
					</section>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

		<!-- Scripts -->
		<script src="/js/addon-btc-lightning.js"></script>
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-76828104-1', 'auto');
			  ga('send', 'pageview');
			</script>
	</body>
</html>
